<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>NightYagi - {{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="title" content="NightYagi - {{ title }}">
  <meta name="description" content="Programming, Gamedev, Goats.">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://nightyagi.me/">
  <meta property="og:title" content="NightYagi - {{ title }}">
  <meta property="og:description" content="Programming, Gamedev, Goats.">
  <meta property="og:image" content="">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://nightyagi.me/">
  <meta property="twitter:title" content="NightYagi - {{ title }}">
  <meta property="twitter:description" content="Programming, Gamedev, Goats.">
  <meta property="twitter:image" content="">

  <!-- Stylesheets and Javascript -->
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<div id="nav-wrapper">
  <nav>

  </nav>
</div>